body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    height: 100vh;
}

#header {
    flex: 1;
    padding: 2em;
    display: flex;
    align-items: left;
    justify-content: center;
    border-right: 1px solid #fff; /* White divider */
}

#form-section {
    flex: 1;
    background-color: #fff; /* White background for the form section */
    padding: 2em;
    color: #000; /* Black text for the form section */
}

h1 {
    font-size: 2em;
    margin: 0;
    
}

h2 {
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1em;
}

input {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.75em 1.5em;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #555; /* Slightly lighter dark background on hover */
}
